{% extends "_page.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">
{% endblock %}


{% block page_content %}

<h1 class="page-header">{{ user.username }}</h1>

<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
    <img class="img-thumbnail profile_pic " src="{{url_for('.static', filename='images/' + user.profile_pic)}}">
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <h2>{{user.email}}</h2>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <h2> Bottoni </h2>
  </div>

</div>
{% endblock %}