/* logo in navbar */
.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 175%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.right-menuitem{
  text-align: right
}

.navbar-center{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    letter-spacing: 3pt;
    font-family: "Berlin Sans FB", serif;
}