{% extends "_navbar.html" %}

{% block head %}
{{super()}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5124456065883936",
    enable_page_level_ads: true
  });
</script>
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}


{% block _content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% if current_user.is_authenticated %}
      <ul class="nav nav-sidebar">
        <li><a href="{{url_for('friend.add')}}"><span class="glyphicon glyphicon-plus"></span> Aggiungi amico</a></li>
        <li><a href="{{url_for('trip.add')}}"><span class="glyphicon glyphicon-plus"></span> Aggiungi uscita</a></li>
        <li><a href="{{url_for('transazione.add')}}">
            <span class="glyphicon glyphicon-plus"></span> Aggiungi transazione</a>
        </li>
      </ul>
      <hr style="border-color: #83878f">
      <ul class=" nav nav-sidebar">
        <li><a href="{{url_for('trip.view')}}">
            <span class="glyphicon glyphicon-info-sign"></span> Tutte le uscite </a>
        </li>
        <li><a href="{{url_for('transazione.view')}}">
            <span class="glyphicon glyphicon-info-sign"></span> Tutte le transazioni</a>
        </li>
      </ul>
      {% endif %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block page_content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}