{% extends "_navbar.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}


{% block _content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% if current_user.is_authenticated %}
      <ul class="nav nav-sidebar">
        <li><a href="{{url_for('add_friend')}}"><span class="glyphicon glyphicon-plus"></span> Aggiungi amico</a></li>
        <li><a href="{{url_for('add_trip')}}"><span class="glyphicon glyphicon-plus"></span> Aggiungi
            uscita</a></li>
        <li><a href="{{url_for('add_transazione')}}"><span class="glyphicon glyphicon-plus"></span> Aggiungi
            transazione</a></li>
        <!--<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Tutte le uscite </a></li>-->
      </ul>
      {% endif %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      {% block page_content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}