{% extends "_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block styles %}
{{super()}}
{% endblock %}

{% block page_content %}
<h1 class="page-header">{{user.username}}</h1>

<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="sub-header" style="text-align: center">👍 Migliori amici</h2>
    {% if best_friends %}
    <div class="row placeholders">
      {% for bf in best_friends %}
      <div class="col-xs-6 col-sm-6 placeholder">
        <a href="{{ url_for('friend_profile', friend_id=bf.key.id()) }}">
          <img width="200" height="200" class="img-responsive" {% if bf.immagine_url %}
            src="{{bf.immagine_url + '=s250-c'}}" {% else %} src="{{url_for('.static', filename='images/default.jpg')}}"
            {% endif %}>
        </a>
        <h4>{{bf.nome}} {{bf.cognome}}</h4>
        <span class="text-muted">{{ bf.score | round(2, 'common') }}</span>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div>
      Non hai aggiunto amici.
    </div>
    {% endif %}
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="sub-header" style="text-align: center">👎 Peggiori amici</h2>
    {% if worst_friends %}
    <div class="row placeholders">
      {% for wf in worst_friends %}
      <div class="col-xs-6 col-sm-6 placeholder">
        <a href="{{ url_for('friend_profile', friend_id=wf.key.id()) }}">
          <img width="200" height="200" class="img-responsive" {% if wf.immagine_url %}
            src="{{wf.immagine_url + '=s250-c'}}" {% else %} src="{{url_for('.static', filename='images/default.jpg')}}"
            {% endif %}>
        </a>
        <h4>{{wf.nome}} {{wf.cognome}}</h4>
        <span class="text-muted">{{ wf.score | round(2, 'common') }}</span>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div>
      Non hai aggiunto amici.
    </div>
    {% endif %}
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="sub-header">Uscite</h2>
    {% if uscite %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Info</th>
            <th>Titolo</th>
            <th>Data</th>
            <th>Partenza</th>
            <th>Destinazione</th>
            <th>KM</th>
          </tr>
        </thead>
        <tbody>
          {% for u in uscite %}
          <tr>
            <td>
              <a href="{{ url_for('trip_info', trip_id=u.key.id()) }}">
                <span class="glyphicon glyphicon-info-sign"></span>
              </a>
            </td>
            <td>{{u.titolo}}</td>
            <td>{{u.data}}</td>
            <td>{{u.partenza}}</td>
            <td>{{u.destinazione}}</td>
            <td>{{u.distanza}}</td>
          </tr> {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div>
      Non ci sono uscite.
    </div>
    {% endif %}
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="sub-header">Cassa comune</h2>
    <h2 style="margin-top: 0pt">{{ "%.2f €"|format(user.cassa) }}</h2>
    {% if transazioni %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Modifica</th>
            <th>Titolo</th>
            <th>Data</th>
            <th>€</th>
            <th>Descrizione</th>
          </tr>
        </thead>
        <tbody>
          {% for tr in transazioni %}
          <tr>
            <td>
              <a href="{{ url_for('transazione_edit', transazione_id=tr.key.id()) }}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
            <td>{{tr.titolo}}</td>
            <td>{{tr.data}}</td>
            <td>{{"%.2f"|format(tr.costo)}}</td>
            <td>{{tr.descrizione}}</td>
          </tr> {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    Non ci sono transazioni.
    {% endif %}
  </div>
</div>
<div>
  <h2 class="sub-header">Amici</h2>
  {% if friends %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Profilo</th>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
        <tr>
          <td>
            <a href="{{ url_for('friend_profile', friend_id=friend.key.id()) }}">
              <span class="glyphicon glyphicon-user"></span>
            </a>
            <a href="{{ url_for('friend_edit', friend_id=friend.key.id()) }}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td>{{friend.nome}}</td>
          <td>{{friend.cognome}}</td>
          <td>{{friend.score | round(2, 'common')}}</td>
        </tr> {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div>
    Non hai aggiunto amici.
  </div>
  {% endif %}
</div>
{% endblock %}