{% extends "_page.html" %}

{% block page_content %}
<h1 class="page-header">{{user.username}}
</h1>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="sub-header" style="text-align: center">👍 Migliori amici</h2>
  {% if best_friends %}
  <div class="row placeholders">
    {% for bf in best_friends %}
    <div class="col-xs-6 col-sm-6 placeholder">
      <a href="{{ url_for('friend_profile', friend_id=bf.key.id()) }}">
        <img width="200" height="200" class="img-responsive" {% if bf.immagine_url %}
          src="{{bf.immagine_url + '=s250-c'}}" {% else %} src="{{url_for('.static', filename='images/default.jpg')}}"
          {% endif %}>
      </a>
      <h4>{{bf.nome}} {{bf.cognome}}</h4>
      <span class="text-muted">{{bf.score}}</span>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div>
    Non hai aggiunto amici.
  </div>
  {% endif %}
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="sub-header" style="text-align: center">👎 Peggiori amici</h2>
  {% if worst_friends %}
  <div class="row placeholders">
    {% for wf in worst_friends %}
    <div class="col-xs-6 col-sm-6 placeholder">
      <a href="{{ url_for('friend_profile', friend_id=wf.key.id()) }}">
        <img width="200" height="200" class="img-responsive" {% if wf.immagine_url %}
          src="{{wf.immagine_url + '=s250-c'}}" {% else %} src="{{url_for('.static', filename='images/default.jpg')}}"
          {% endif %}>
      </a>
      <h4>{{wf.nome}} {{wf.cognome}}</h4>
      <span class="text-muted">{{wf.score}}</span>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div>
    Non hai aggiunto amici.
  </div>
  {% endif %}
</div>

<h2 class="sub-header">Amici</h2>
{% if friends %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Profilo</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for friend in friends %}
      <tr>
        <td>
          <a href="{{ url_for('friend_profile', friend_id=friend.key.id()) }}">
            <span class="glyphicon glyphicon-user"></span>
          </a>
          <a href="{{ url_for('friend_edit', friend_id=friend.key.id()) }}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </td>
        <td>{{friend.nome}}</td>
        <td>{{friend.cognome}}</td>
        <td>{{friend.email}}</td>
        <td>{{friend.score}}</td>
      </tr> {% endfor %} </tbody>
  </table>
</div> {% else %} <div>
  Non hai aggiunto amici.
</div>
{% endif %}




<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>Integer</td>
        <td>nec</td>
        <td>odio</td>
        <td>Praesent</td>
      </tr>
      <tr>
        <td>1,003</td>
        <td>libero</td>
        <td>Sed</td>
        <td>cursus</td>
        <td>ante</td>
      </tr>
      <tr>
        <td>1,004</td>
        <td>dapibus</td>
        <td>diam</td>
        <td>Sed</td>
        <td>nisi</td>
      </tr>
      <tr>
        <td>1,005</td>
        <td>Nulla</td>
        <td>quis</td>
        <td>sem</td>
        <td>at</td>
      </tr>
      <tr>
        <td>1,006</td>
        <td>nibh</td>
        <td>elementum</td>
        <td>imperdiet</td>
        <td>Duis</td>
      </tr>
      <tr>
        <td>1,007</td>
        <td>sagittis</td>
        <td>ipsum</td>
        <td>Praesent</td>
        <td>mauris</td>
      </tr>
      <tr>
        <td>1,008</td>
        <td>Fusce</td>
        <td>nec</td>
        <td>tellus</td>
        <td>sed</td>
      </tr>
      <tr>
        <td>1,009</td>
        <td>augue</td>
        <td>semper</td>
        <td>porta</td>
        <td>Mauris</td>
      </tr>
      <tr>
        <td>1,010</td>
        <td>massa</td>
        <td>Vestibulum</td>
        <td>lacinia</td>
        <td>arcu</td>
      </tr>
      <tr>
        <td>1,011</td>
        <td>eget</td>
        <td>nulla</td>
        <td>Class</td>
        <td>aptent</td>
      </tr>
      <tr>
        <td>1,012</td>
        <td>taciti</td>
        <td>sociosqu</td>
        <td>ad</td>
        <td>litora</td>
      </tr>
      <tr>
        <td>1,013</td>
        <td>torquent</td>
        <td>per</td>
        <td>conubia</td>
        <td>nostra</td>
      </tr>
      <tr>
        <td>1,014</td>
        <td>per</td>
        <td>inceptos</td>
        <td>himenaeos</td>
        <td>Curabitur</td>
      </tr>
      <tr>
        <td>1,015</td>
        <td>sodales</td>
        <td>ligula</td>
        <td>in</td>
        <td>libero</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}