{% extends "_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='friend_profile.css')}}">
{% endblock %}


{% block page_content %}

<h1 class="page-header">Modifica: {{ friend.nome }} {{ friend.cognome }}</h1>

<div class="row">

  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center placeholder">
      <img width="200" height="200" class="img-responsive" {% if friend.immagine_url %} src="{{friend.immagine_url + '=s250-c'}}" {% else %}
      src="{{url_for('.static', filename='images/default.jpg')}}" {% endif %}>
  </div>

  <form class="myform" method="POST" action="{{ upload_url }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <input type="hidden" name="friend" value="{{ friend }}">
      {{ wtf.form_field(form.nome) }}
      {{ wtf.form_field(form.cognome) }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.immagine) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Modifica!</button>
    </div>
  </form>

</div>
{% endblock %}