{% extends "_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='friend_profile.css')}}">
{% endblock %}


{% block page_content %}

<h1 class="page-header">Modifica: {{ friend.nome }} {{ friend.cognome }}</h1>

<div class="row">

  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center placeholder">
    <img width="200" height="200" class="img-responsive" {% if friend.immagine_url %}
      src="{{friend.immagine_url + '=s250-c'}}" {% else %} src="{{url_for('static', filename='images/default.jpg')}}"
      {% endif %}>
    {% if friend.immagine_url %}
    <div class="text-center" style="margin-top: 10pt">
      <a href="{{url_for('friend.pic_reset', friend_id=friend.key.id())}}" class="btn btn-warning">Reset</a>
    </div>
    {% endif %}

  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <form class="myform" method="POST" action="{{ upload_url }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <input type="hidden" name="friend" value="{{ friend }}">
      {{ wtf.form_field(form.nome) }}
      {{ wtf.form_field(form.cognome) }}
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.immagine) }}
      <button class="btn btn-primary btn-block" type="submit">Modifica!</button>
    </form>
  </div>

</div>
{% endblock %}