{% extends "_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard_form.css')}}">

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<!-- PER CALENDARIO -->
<script>
  $(document).ready(function () {
    var date_input = $('input[name="data"]');
    var container = $('.form').length > 0 ? $('.form').parent() : "body";
    var options = {
      format: 'yyyy-mm-dd',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  })
</script>
{% endblock %}


{% block page_content %}
<h1 class="page-header"> {{titolo}} </h1>

<form class="myform" method="POST" action="{{submit_to}}">
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.titolo) }}
  {{ wtf.form_field(form.data, placeholder='YYYY/MM/DD') }}
  {{ wtf.form_field(form.partenza) }}
  {{ wtf.form_field(form.destinazione) }}
  {{ wtf.form_field(form.distanza) }}
  {{ wtf.form_field(form.ritorno) }}
  {{ wtf.form_field(form.pagato) }}
  {{ wtf.form_field(form.speciale) }}
  <div class="container-fluid">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h5><strong>Autisti</strong></h5>
      {% for f in friends %}
      {{ wtf.form_field(form['auto' + f.key.id() | string]) }}
      {% endfor %}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h5><strong>Passeggeri</strong></h5>
      {% for f in friends %}
      {{ wtf.form_field(form['pass' + f.key.id() | string]) }}
      {% endfor %}
    </div>
  </div>
  <div style="padding-top: 20pt">
    {{wtf.form_field(form.submit, class='btn btn-block btn-primary')}}
  </div>
</form>

{% endblock %}