{% extends "_page.html" %}

{% block page_content %}
<h1 class="page-header">Informazioni su: {{ trip.titolo }} del {{ trip.data }}</h1>

<div class="container" style="text-align: center">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4>Partenza</h4>
    {{trip.partenza}}
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4>Destinazione</h4>
    {{trip.destinazione}}
  </div>
</div>

<div class="container" style="text-align: center">
  <h4>Distanza</h4>
  {{trip.distanza}} KM

  <h4>Info</h4>
  <p>Andata e ritorno:
    {% if trip.ritorno %}
    <span class="glyphicon glyphicon-ok" style="color: green"></span>
    {% else %}
    <span class="glyphicon glyphicon-remove" style="color: red"></span>
    {% endif %}
  </p>
  <p>L'autista è stato pagato?
    {% if trip.pagato %}
    <span class="glyphicon glyphicon-ok" style="color: green"></span>
    {% else %}
    <span class="glyphicon glyphicon-remove" style="color: red"></span>
    {% endif %}
  </p>
  <p>Era un'occasione speciale?
    {% if trip.speciale %}
    <span class="glyphicon glyphicon-ok" style="color: green"></span>
    {% else %}
    <span class="glyphicon glyphicon-remove" style="color: red"></span>
    {% endif %}
  </p>
</div>

<div class="container" style="text-align: center">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4>Autisti</h4>
    {% for a in autisti %}
    {% if a %}
    <a href="{{url_for('friend_profile', friend_id=a.key.id())}}">{{a.nome}} {{a.cognome}}</a><br>
    {% else %}
    Amico non esistente
    {% endif %}
    {% endfor %}
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h4>Passeggeri</h4>
    {% for p in passeggeri %}
    {% if p %}
    <a href="{{url_for('friend_profile', friend_id=p.key.id())}}">{{p.nome}} {{p.cognome}}</a><br>
    {% else %}
    Amico non esistente<br>
    {% endif %}

    {% endfor %}
  </div>
</div>

<div class="container" style="text-align: center">
  <a href="{{ url_for('edit_trip', trip_id=trip.key.id(),
  titolo=trip.titolo,
  data=trip.data,
  partenza=trip.partenza,
  destinazione=trip.destinazione,
  distanza=trip.distanza,
  ritorno=trip.ritorno,
  pagato=trip.pagato,
  speciale=trip.speciale)}}" class="btn btn-primary">
    <span class="glyphicon glyphicon-pencil"></span>
    Modifica
  </a>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal3">
    <span class="glyphicon glyphicon-trash"></span> Elimina
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label">
          <strong>Elimina {{trip.titolo}} del {{trip.data}}</strong>
        </h5>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare questa uscita?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <a href="{{ url_for('delete_trip', trip_id=trip.key.id()) }}" class="btn btn-danger">
          Elimina
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}