{% extends "_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard_form.css')}}">
{% endblock %}



{% block page_content %}
<h1 class="page-header">Impostazioni</h1>

<form class="myform" method="POST" action="{{url_for('user_settings')}}">
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.email) }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Aggiungi!</button>
  <div class="container"></div>
</form>

{% endblock %}