{% extends "_signin.html" %}

{% block _form %}
<form class="form-signin" method="POST" action="{{url_for('user.login')}}">
  <h2 class="form-signin-heading">Log in</h2>
  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.username) }}
  {{ wtf.form_field(form.password) }}
  {{ wtf.form_field(form.remember) }}
  {{ wtf.form_field(form.submit, class="btn btn-block btn-primary") }}
  <div class="container" style="padding-top: 10pt">
    Non hai ancora un account?<br>
    <a href="{{url_for('user.signup')}}">Iscriviti ora!</a>
  </div>
  <div class="container" style="padding-top: 7pt">
    <a href="{{url_for('user.reset_request')}}">Password dimenticata?</a>
  </div>
</form>
{% endblock %}